body {
   /* background-image:url('Collage.jpg'); */
   background-color:lightgreen;
   text-align: center;
}

h1{
    color: darkgreen;
    font-family: "Calibri";
    padding-top:10px;
}


.container {
    position: relative;
    text-align: center;
    height:100vh;
    width:100vh;
  
  }
  